# Git
.git
.gitignore

# Docker
Dockerfile
.dockerignore

# IDE / Editor
.idea/
.vscode/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
venv/
*.env

# Secrets - IMPORTANT
api_keys.py
settings.zip

# Data / Logs
*.log
pnl_history.json
pnl_chart.png

